{% extends 'base.html' %}
{% block title %}魚隻餵養紀錄{% endblock title %}
{% block content %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
      <i class="fas fa-table"></i>
      魚隻餵養紀錄
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>箱網類別</th>
            <th>魚種</th>
            <th>數量</th>
            <th>上次餵養時間</th>
            <th>魚隻狀態</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cagelist %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['CageId'] | viewcageclass }}</td>
            <td>
              {{ item['FishClass'] }}
            </td>
            <td>
              {{ item['Amount'] }}
            </td>
            <td>
              {% if item['LastFeedTime'] != None %}
                {{ item['LastFeedTime'] | datetime }} <br>
              {% endif %}
              <a class="btn btn-success" href="/cagefish_update_time?id={{ item['Id'] }}">
                  更新
              </a>
            </td>
            <td>
              {{ item['FishStatus'] | trueorfalse }} <br>
              <div class="btn-group">
                <a class="btn btn-success" href="/cagefish_update_time?id={{ item['Id'] }}&boolean=1">
                  良好
                </a>
                <a class="btn btn-danger" href="/cagefish_update_time?id={{ item['Id'] }}&boolean=0">
                  欠佳
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}