{% extends 'base.html' %}
{% block title %}箱網建置{% endblock title %}

{% block content %}

<div class="card card-login mx-auto my-5">
  <div class="card-header">箱網建置</div>
  <div class="card-body">
    {% from '_formhelper.html' import render_field %}
    <form action="/cagebuild_create" method="post">
      {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endif %}
      
      {{ form.csrf_token }}

      <div class="form-group col">
        {{ render_field(form.CageClass,class="form-control",placeholder="箱網類別") }}
      </div>
      <div class="form-group col">
        {{ render_field(form.BuildDate,class="form-control",placeholder="建置時間") }}
      </div>
      <div class="form-group col">
        <input class="btn btn-primary btn-block" type="submit" value="送出">
      </div>
    </form>
  </div>
</div>

{% endblock content %}